.competencies__menu {
  display: none;
}

@media (min-width: 1000px) {
  .competencies__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    gap: 12px;
    width: 100%;
    padding: 0 66px;
  }
}

.competencies__menu-mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
  margin-bottom: 2px;
}

@media (min-width: 1000px) {
  .competencies__menu-mob {
    display: none;
  }
}
