.description {
	@include background(url("./../img/description/description-bg.jpg"));
	padding: 50px 0;

	// .description__wrapper

	&__wrapper {
		display: flex;
		flex-direction: column;
	}

	// .description__title
	&__title {
		text-align: center;
		font-weight: 500;
		font-size: 25px;
		line-height: 130%;

		text-transform: uppercase;
		text-shadow: 0px 0px 32px rgba(0, 0, 0, 0.51);

		margin-bottom: 32px;

	}

	// .description__photo
	&__photo {
		position: relative;
		margin-bottom: 30px;

		&::before {
			@include pseudo;

			position: absolute;
			width: 281px;
			height: 365px;
			left: 0;
			top: 0;

			background: $bgColor;
			border: 12px solid $bgColor;

			filter: blur(60.0484px);
			z-index: -1;


		}
	}

	// .description__img
	&__img {}

	// .description__img-desc
	&__img-desc {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;

		width: 205px;
		height: 110px;
		padding: 15px 10px;
		background: $bgColor;
		z-index: 1;
		position: absolute;
		bottom: 0;
		left: 0;

		.description__title {
			font-weight: 400;
			font-size: 18px;
			line-height: 130%;

			text-transform: uppercase;
			text-align-last: left;

			margin-bottom: 7px;
		}

		.description__subtitle {
			font-weight: 300;
			font-size: 14px;
			line-height: 105.5%;
			color: $textColor;
		}
	}

	// .description__inner
	&__inner {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 30px 21px;

		width: 320px;
		height: 781px;


		background: #FFFFFF;
		z-index: 1;
	}

	// .description__block-text
	&__block-text {}


	// .description__subtitle
	&__subtitle {

		font-weight: 500;
		font-size: 14px;
		line-height: 20px;

		color: $textColorAbout;
		margin-bottom: 20px;
	}

	// .description__text
	&__text {
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0em;
		text-indent: 1.5em;

		color: $txtColorDesc;
	}
}

.container {}

.title {}

.text {}

.description {

	// .description__wrapper
	&__wrapper {}

	// .description__title
	&__title {}

	// .description__photo
	&__photo {}

	// .description__img
	&__img {}

	// .description__img-desc
	&__img-desc {}

	// .description__subtitle
	&__subtitle {}

	// .description__inner
	&__inner {}

	// .description__block-text
	&__block-text {}

	// .description__text
	&__text {}
}

.container {}

.title {}

.subtitle {}

.text {}