.manager-desc {

	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-bottom: 50px;
	margin: 0 auto;


	@media (min-width:1000px) {
		width: 948px;
		height: 916px;

		padding: 56px 65px 0 50px;
		margin: 0;
		gap: 35px;
	}

	// .manager-desc__subtitle
	&__subtitle {
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;

		color: $textColorAbout;


		@media (min-width:1000px) {
			font-size: 25px;
			line-height: 35px;
			margin-bottom: 35px;
		}
	}

	// .manager-desc__text
	&__text {
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0em;
		text-indent: 1.5em;

		color: $txtColorDesc;

		@media (min-width:1000px) {
			font-size: 25px;
			line-height: 35px;

		}
	}
}